{% extends "maqueta.html" %}
{%load static%}




{% block section %}

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">De las directoras</h1>
                    <span class="color-text-a">
                        
                        Con la importancia que ha tenido la formación y la enseñanza en nuestro desarrollo profesional y nuestras vidas. Ha constituido  el impulso  necesario  para concretar esta iniciativa de enseñanza  y usar el talento de mujeres y hombres de todas las edades para adquirir herramientas con el fin de resaltar la belleza y el bienestar de las personas a través de un programa intensivo, completo y de excelencia.<br>
                        Lilian y Myriam Farfán S, las Directoras han reunidos sus habilidades profesionales para enseñar desde la excelencia y dar un concepto de servicio al cliente que distinga a cada una de las alumnas de la academia. Además de entregar dentro del programa los conceptos esenciales para el mejoramiento de la autoimagen y autocuidado.  ser una herramienta de autonomía para sus alumnos.
                        </span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{%url 'index'%}">Indice</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Contacto
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="img-aboutus">
    <div class="container">
        <div class="col-md-12 col-lg-8">
            <div class="image-aboutus">
                <img src="https://previews.123rf.com/images/tverdohlib/tverdohlib1706/tverdohlib170600504/79867266-maniqu%C3%AD-maniqu%C3%AD-o-maniqu%C3%AD-con-rostro-humano-que-imita-a-la-gente-moda-y-compras-belleza-sin-maquillaje-neg.jpg">
            </div>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="post-information">
                  <ul class="list-inline text-center color-a">
                    <li class="list-inline-item mr-2">
                      <strong>Cosmetóloga y Esteticista  </strong>
                      <span class="color-text-a">Ingeniera en Administración  de empresas UNAB</span>
                    </li>
                    <li class="list-inline-item mr-2">
                      <strong>Pedagogía y Magister en gestión Educacional UMCE </strong>
                      <span class="color-text-a">Diplomada en Marketing de PUC</span>
                    </li>
                  </ul>
                </div>
</section>

<section class="intro-single-2">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Misión</h1>
                            <span class="color-text-a">
                                
                                    Formación de excelencia en resaltar la belleza y la autoimagen a través de un programa intensivo que promueva el servicio y el bienestar de sus clientes.
                                </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8">
                            <div class="title-single-box">
                                <h1 class="title-single">Visión</h1>
                                <span class="color-text-a">
                                    
                                        A.-Ser reconocidos por entregar una formación en belleza y autoimagen diferenciadora por la calidad  de servicio y excelencia.<br>
                                        B.-Ser líder por la excelencia en formación en belleza y bienestar para hombres y mujeres y ser reconocidos por su calidad profesional.
        
                                    </span>
                            </div>
                        </div>
                </div>
            </div>
    </section>



{% endblock %}


