{% extends "maqueta.html" %}
{%load static%}




{% block section %}
<div class="container">
  <div class="row">
      <div class="col-sm-12 section-t8">

          <div class="slide-window">
              <div class="slide-wrapper" style="width: 300%;">
                <div class="slide">
                  <a href="#">
                    <div class="slide-image"><img src="https://previews.123rf.com/images/tverdohlib/tverdohlib1706/tverdohlib170600504/79867266-maniqu%C3%AD-maniqu%C3%AD-o-maniqu%C3%AD-con-rostro-humano-que-imita-a-la-gente-moda-y-compras-belleza-sin-maquillaje-neg.jpg"/>
                    </div>
                    <div class="slide-caption">
                      <p>La belleza da poder a tus habilidades.</p>
                    </div>
                  </a>
                </div>
                <div class="slide">
                  <a href="{%url 'servicioEmpresas'%}">
                    <div class="slide-image"><img src="https://previews.123rf.com/images/tverdohlib/tverdohlib1706/tverdohlib170600504/79867266-maniqu%C3%AD-maniqu%C3%AD-o-maniqu%C3%AD-con-rostro-humano-que-imita-a-la-gente-moda-y-compras-belleza-sin-maquillaje-neg.jpg"/>
                    </div>
                    <div class="slide-caption">
                      <p>Servicio y cursos a empresas.</p>
                    </div>
                  </a>
                </div>
                <div class="slide">
                  <a href="{%url 'promociones'%}">
                    <div class="slide-image"> <img src="https://previews.123rf.com/images/tverdohlib/tverdohlib1706/tverdohlib170600504/79867266-maniqu%C3%AD-maniqu%C3%AD-o-maniqu%C3%AD-con-rostro-humano-que-imita-a-la-gente-moda-y-compras-belleza-sin-maquillaje-neg.jpg"/>
                    </div>
                    <div class="slide-caption">
                      <p>Promociones y valores.</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="slide-controller">
                <div class="slide-control-left">
                  <div class="slide-control-line"></div>
                  <div class="slide-control-line"></div>
                </div>
                <div class="slide-control-right">
                  <div class="slide-control-line"></div>
                  <div class="slide-control-line"></div>
                </div>
              </div>
      
        </div>
  </div>
  
</div>



{% endblock %}
